# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# IDE-specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Compiled files
*.pyc
*.pyo
*.pyd

# Miscellaneous
.DS_Store
__MACOSX/
.env
